<div class="content-container">

  <div class="list-container">
    <button mat-raised-button color="accent" type="button" (click)="showLocal=!showLocal" matTooltip="Developing Locally">Developing
      Locally</button>
    <mat-card [@openClose]="showLocal" *ngIf="showLocal">
      <mat-card-header>
        <mat-card-title>Developing Locally</mat-card-title>
      </mat-card-header>
      <img mat-card-image class="card-image" src="assets/ignite-local.jpg" alt="Local Development">
      <mat-card-content>
        <p>Angular app communicating to a Express.js API on Node.js.</p>
        <p>Communicating to a Mongo DB through the Mongoose and Mongo DB APis.</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="list-container">
    <button mat-raised-button color="accent" type="button" (click)="showCloudReady=!showCloudReady" matTooltip="Cloud Ready">Cloud
      Ready</button>
    <mat-card [@openClose]="showCloudReady" *ngIf="showCloudReady">
      <mat-card-header>
        <mat-card-title>Cloud Ready Node.js and Database</mat-card-title>
      </mat-card-header>
      <img mat-card-image class="card-image" src="assets/ignite-cloud.jpg" alt="Local Development">
      <mat-card-content>
        <p>Cloud based dockerized solution.</p>
        <p>Angular app communicating to a Express.js API on Node.js.</p>
        <p>Communicating to a Cosmos DB through the Cosmos SDK</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
