@import 'mixin';

.content-container {
  margin: 4em;
}

.control-panel {
  @include control-panel-layout;
}
.content-container {
  @include content-container-layout;
}

.mat-card {
  @include mat-card-layout;

  .card-image {
    width: 365px;
    max-width: 365px;
    margin-left: 0px;
  }
}
